body {
    background-color: #B88D79;
    /* background-color: #FFF8ED;    */
    margin: auto;
    /* margin-right: 1.5rem; */
    width: 1250px;
}



body h1 {
    color: #016b38;
    font-family: 'Irish Grover', cursive;
    ;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

body header {
    background-color: #F4F4F4;

}

.logo {
    border-radius: 10%;
    width: 100%;
    max-width: 100px;
    height: auto;
}


.logo:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.sections_nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#bannerTransicao {
    display: flex;
    justify-content: center;
}

 .navegation { 
    background-color: #D9D9D9;
    list-style: none;
    display: flex;
    justify-content: space-between;
     align-items: center;
    font-family: 'Irish Grover', cursive;
    width: auto;
    padding: 5px;
    padding-left: 2rem;
}


.itens {
    display: flex;
    justify-content: space-around;
    /* align-items:flex-end; */
    width: 80%;
    padding: 0 1rem;
}

/* .item {
            display: flex;
            justify-content: space-around;
            font-weight: bold;
        }
         */

.option_nav {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #016B38;
    max-width: 250px;
    font-size: 2rem;
}

.option_nav:hover {
    color: #B88D79;
    padding: 10px;
}

.logo:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/*.sections_nav {
    display: flex;
    justify-content: space-around;
    width: auto;
}
*/

.navegation {
    background-color: #D9D9D9;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Irish Grover', cursive;
    width: auto;
    padding: 1%;
    padding-left: 2rem;
}

.itens {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    padding: 0 1rem;
}

.item {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.option_nav {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #016B38;
    max-width: 250px;
    font-size: 1.2rem;
}

.option_nav:hover {
    color: #B88D79;
    padding: 10px;
}
.matrix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    position: relative;
    padding: 2rem;
}
header nav button {
    border: 0.25rem;
    border-style: double;
    height: 100%;
    color: slategray;
    font-size: larger;
}

header nav button:hover {
    font-size: 130%;
    color: #016b38;
}

a {
    text-decoration: none;
    color: #016b38;
}

header {
    display: flex;
    justify-content: space-between;
    color: #016b38;
}

header nav div figure img {
    width: 3rem;
    border: #016b38;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

header nav div figure figcaption {
    text-align: center;
}

header nav {
    width: 100%;
}

header nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav div ul {
    display: flex;
    align-items: end;
    justify-content: space-between;
    list-style: none;
}

header nav div ul li {
    justify-content: space-between;
    padding-left: 3rem;
}

header nav div ul li a:hover {
    font-size: 115%;
    color: #FFCCCC;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0.1rem;
    align-items: center;
}
.itemPro {
    background-color: #F4F4F4;
    float: left;
    height: auto;
    width: 237.5px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
div figure img {
    border-radius: 0.5rem;
    border-color: brown;
    border-style: double;
    transition: 0.5s;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
div figure img:hover {
    transform: scale(1.13);
}
figcaption {
    text-align: center;
    color: #F4F4F4;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div figure p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-align: center;
    color: #016b38;
    padding: 0.2rem;
}
div figure figcaption button {
    border: 0.25rem;
    border-style: double;
    height: 50%;
    color: #016B38;
    background-color: #b0ecb0;
    font-size: x-small;
}
h4 {
    color: #016b38;
    font-family: Arial, Helvetica, sans-serif;
}
h5 {
    color: #016b38;
    font-family: Arial, Helvetica, sans-serif;
}

header nav div figure a img {
    border: 0.2rem;
    width: 3.5rem;
    height: 3.5rem;
}

hr {
    color: #016b38;
}

div figure img {
    width: 13rem;
    height: 13rem;
    transition: 0.5s;
}

div figure img :hover {
    transform: scale(1.3);
}

.anuncio frontal {
    margin-bottom: 0.5rem;
}

div hr {
    color: #016b38;
}

section div form {
    margin-top: 0.5rem;
}

div form fieldset legend {
    border: #016b38 solid;
    border-radius: 10px;
    background-color: #F4F4F4;
    font-size: 1.1rem;
}

div form input {
    border-radius: 10px;
    background-color: #b0ecb0;
}

div form textarea {
    border-radius: 10px;
    border-color: #016B38;
}

.descProd {
    text-align: justify;
    width: fit-content;
    background-color: #FFCCCC;
    border: #F4F4F4;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 11rem;
}

div figure img {
    margin-bottom: 0.5rem;
}

form input {
    width: 22rem;
}

figcaption {
    color: #016B38;
    margin-top: 0.5rem;
}

#msg {
    border-color: #042e04;
    width: 23rem;
    height: 3rem;
    margin-top: 3px;
}

fieldset {
    width: 19rem;
    height: 19rem;
    align-self: center;
}

#titulopagina{
    width: 100%;
    background-color: #F4F4F4;
    padding: 3px;
}

legend {
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    color: #016b38;
    font-weight: 700;
    width: 23rem;
}

footer div fieldset label {
    color: #016b38;
}

footer div ul {
    height: 3rem;
    margin-bottom: 0.3rem;
}

footer img {
    border-radius: 1rem;
    border-color: #B88D79;
}

.formulario_produtos {
    color: #016b38;
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;

}

section div img {
    border-radius: 1rem;
}

#slider {
    width: 100%;
    max-width: 980px;
    height: 25vw;
    max-height: 250px;
    position: relative;
    align-content: center;
     
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected {
    opacity: 5;
}

#formulario_produtos {
    width: 23.5rem;
    height: 23.5rem;
    padding: 0.5rem;
    background-color: #F4F4F4;
    margin-top: 1rem;
    border-radius: 10px;
}

label:not(:first-of-type) {
    margin-top: 1rem;
}

input {
    padding: 0.2rem 0.5rem;
    width: 15rem;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: rgb(221, 6, 6);
}

form button {
    width: 5rem;
    height: 1.5rem;
    margin: 2rem 17rem;
    font-size: 0.9rem;
    background-color: #BBCCBB;
    color: #016b38;
    border-radius: 0.5rem;
}

.required-popup::after {
    content: "Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #fc0707;
    font-size: 0.7rem;
    padding: 0.32rem 0.3rem;
    width: auto;
    display: block;
    background-color: #F4F4F4;
}

input.error {
    border: solid 2px #fb0606;
    background-color: #ec9494;
    color: #f9f4f4;
}

input.correct {
    background-color: #c8d1c8;
    border: solid 2px #206620;
    color: #042e04;
}

.visible {
    display: block;
}

.msg {
    background-color: #b0ecb0;
    color: #016B38;
    font: var(serif);
    font-size: 17px;
}

.formularioConfig {
    background-color: #F4F4F4;
    border-radius: 10px;
    margin-bottom: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
    position: relative;
}

form fieldset label {
    font-size: large;
    color: #016B38;
    font-weight: 700;
    padding: 3px;
    margin: 3px;
}

section form input {
    background-color: #FFCCCC;
}

.redes {
    color: #016b38;
}

button:disabled {
    background: rgb(253, 2, 2);
}

.invalid {
    background: red;
    color: rgb(200, 238, 226);
}

.error {
    color: red;
}

dialog ::backdrop {
    background-color: #042e04;
}

dialog {
    border-radius: 1rem;
    border-color: #90b2d5;
    background-color: #FFCCCC;
    box-shadow: 0 0 1rem #016b38;
    width: 53%;
}


.produtosanunciados {
    color: #016b38;
    padding: 0.5rem;
}

.tituloanun {
    border-radius: 0.3rem;
    border-style: solid;
    border-color: #90b2d5;
    background-color: #90b2d5;
}

dialog p ul li {
    padding: 0.3rem;
}

.btnmod {
    margin: 0.5rem;
    color: #016b38;
    background-color: #ec9494;
    border-radius: 0.5rem;
    height: 2rem;
    width: 7rem;
    font-size: larger;
    margin-left: 4rem;
}

.img-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.logo_footer {
    width: 3rem;
    height: 3rem;
    margin: 1%;
}


.footer {
    background-color: #D9D9D9;
    text-align: center;
    padding: 2rem;
    color: #016B38;
}



.footer-h4 {
    font-size: 1rem;
}

.social_medias {
    font-size: 1.5rem;
    font-family: 'Irish Grover', cursive;
}

.logo_footer {
    width: 3rem;
    height: 3rem;
    margin: 1%;
    color: #016B38;

}

.img-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 2rem;
}

@media only screen and (max-width: 770px) {
    .option_nav {
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 1rem
    }

}

@media only screen and (max-width: 600px) {
    .logo {
        margin-left: 2%;
        width: 50px;
        height: 50px;
        max-width: 80px;
    }
}

@media screen {
    min-width: 300px;

    body {
        width: 250px;
    }
}


.option_nav {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

#form_cli_duv {
    width: 1000px;
    height: 30rem;
    justify-content: space-between;
    display: flex;
}

#imagem {
    width: 19rem;
}

#form_cli_duv {
    width: 35rem;
    height: 25rem;
}

#referencial {
    margin-left: 5rem;
}

#confimg {
    margin-left: 9rem;
    margin-top: 1.5rem;
    background-color: #F4F4F4;
    border-radius: 10px;
}